/*css page*/

body {
  background-color: grey;
}

.aligncenter {
  text-align: center;
  border: 1px solid red;
  position: relative;
  top: 200px
}

 .centerform {
   text-align: center;
   border: 1px solid green;
   position: relative;
   top: 205px;
 }
